.main-outer{
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  z-index: 5000;
}

.access-console-button{
  padding: 8px 20px;
  background-color: var(--orange-color);
  border: none;
  border-radius: 50px;
  color: var(--font-color);
  margin-left: 15px;
}

a{
  color: white!important;
  cursor: pointer;
  text-decoration: none;
}
