
  <div class="data-wrapper">
    <div class="img-wrapper">
<!--&lt;!&ndash;      <div class="shadow">&ndash;&gt;</div>-->
      <img src="https://img.freepik.com/free-psd/skincare-glass-bottle-mockup-psd-with-box-beauty-product-packaging_53876-115103.jpg?w=996&t=st=1679222259~exp=1679222859~hmac=f52423774984c7670d7ab1491c6a68d6c9c5d7183a7220d41294b3af1db380b9" alt="" product-image>
    </div>
    <div class="data-set">
      <h3 class="name">Product Name</h3>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur odio repudiandae, sed sunt tempora.</p>
      <p class="cost-outer">
        <span class="actual-price">2500 LKR</span> &nbsp;&nbsp;
        <del class="old-price">3000 LKR</del>
      </p>
    </div>
  </div>

