<div class="main-outer">
  <div class="inner">

    <h2 class="header-text">Login</h2>
    <hr>

    <form class="security-form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput
               placeholder="Ex. pat@example.com">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <p style="text-align: center; margin-top: 10px">or</p>
      <button mat-raised-button color="warn">Sign Up</button>
    </form>


  </div>
</div>
