.main-outer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner{
  width: 400px;
  height: auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: 45px 13px;
}

.security-form{

}

.full-width{
  width: 100%;
}

button{
width: 100%;
}
