/* You can add global styles to this file, and also import other style files */

:root{
  --primary-color:#2c3e50;
  --orange-color:#d35400;
  --font-color:#FFF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
